<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
  <div class="about-us-container">
    <h2>About Discover Destinations</h2>
    <p>Your gateway to unforgettable adventures and seamless travel experiences.</p>

    <p>We are a passionate team of travel enthusiasts dedicated to helping you explore the world with ease and excitement. At Discover Destinations, we understand that travel is more than just visiting new places – it's about creating memories that last a lifetime.</p>

    <p>With our expertise and personalized approach, we strive to make every journey exceptional, whether you're embarking on a solo adventure, a romantic getaway, or a family vacation.</p>

    <p>Our mission is to inspire and empower travelers to discover the beauty and diversity of the world around them. From dreamy beach destinations to thrilling mountain escapes, we offer a wide range of travel packages and customizable itineraries to suit every taste and budget.</p>

    <p>Whether you're planning a relaxing beach retreat, an adrenaline-fueled adventure, or a cultural immersion, let Discover Destinations be your trusted partner in travel. Let us turn your travel dreams into reality and embark on a journey of a lifetime together.</p>

    <img src="assets/travel-image.avif" alt="Travel Image" class="travel-image">
  </div>

</body>
</html>
