/*Plantilla de como se edita el CSS del chatbot*/
df-messenger {
    --df-messenger-bot-message: #fff;
    --df-messenger-button-titlebar-color: #0041C2;
    --df-messenger-button-titlebar-color: #0041C2;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: #000;
    --df-messenger-send-icon: #00adff;
    --df-messenger-user-message: #0041C2;
    --df-messenger-chip-border-color: #0041C2;
}