<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&family=Finger+Paint&display=swap"> 
    <title>Chatter box!</title>
</head>
<body>
    <div class="card">
        <div id="header">
            <h1>Chatter box!</h1>
        </div>
        <div id="message-section">
            <div *ngFor='let message of allMessages'>
                <div class="message" [id]="message.sender">
                    <span [id]="message.sender + '-response'">{{ message.text }}</span>
                </div>
            </div>
        </div>
        <div id="input-section">
            <input id="input" type="text" [(ngModel)]='messageToSave' name='messageToSave' placeholder="Type a message" autocomplete="off" autofocus="autofocus" />
            <button class="send" (click)='chatBotFlow()'>
                <div class="circle"><i class="zmdi zmdi-mail-send"></i></div>
            </button>
        </div>
    </div>
</body>
</html>
